<h1>Fertilizer and Nutrient Management</h1>
<section>
  We apply
  <%= f.fields_for :fertilizers do |builder| %>
    <%= builder.hidden_field :category, value: Category::FERTILIZER %>
    <%= builder.text_field :amount %>
    kg. ha<sup>-1</sup> yr<sup>-1</sup> of
    <%= builder.select :addition_type,
      options_for_select(Analysis::FERTILIZER_TYPES) %> and
  <% end %>
  <%= f.fields_for :manures do |builder| %>
    <%= builder.hidden_field :category, value: Category::MANURE %>
    and <%= builder.text_field :amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup>
    of
    <%= builder.select :addition_type, options_for_select(Analysis::MANURE_TYPES) %>.
  <% end %>
  Additionally, we incorporate
  <%= f.fields_for :nutrient_managements do |builder| %>
    <%= builder.hidden_field :category, value: Category::NUTRIENT_MANAGEMENT %>
    <%= builder.text_field :amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup> of
    <%= builder.select :addition_type,
      options_for_select(Analysis::RICE_NUTRIENT_MANAGEMENT) %>.
  <% end %>
</section>
