<h1>Fertilizer and Nutrient Management</h1>
<section>
  We apply
  <%= text_field_tag :fertilizer_amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup> of
  <%= select_tag :fertilizer_type,
    options_for_select(Analysis::FERTILIZER_TYPES) %> and
  <%= text_field_tag :manure_amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup> of
  <%= select_tag :manure_type,
    options_for_select(Analysis::MANURE_TYPES) %>.
  Additionally, we incorporate
  <%= text_field_tag :nutrient_management_amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup> of
  <%= select_tag :rice_nutrient_management_type,
    options_for_select(Analysis::RICE_NUTRIENT_MANAGEMENT) %>.
</section>
