<h1>Fuel and purposes</h1>
<section>
  Each year, we use an estimated
  <%= text_field_tag :transportation_fuel_volume %>
  <%= select_tag :transportation_fuel_unit,
    options_for_select(Analysis::FUEL_UNITS) %>
  <%= select_tag :transportation_fuel_type,
    options_for_select(Analysis::FUEL_TYPES) %> for transportation,
  <%= text_field_tag :irrigation_fuel_volume %>
  <%= select_tag :irrigation_fuel_unit,
    options_for_select(Analysis::FUEL_UNITS) %>
  <%= select_tag :irrigation_fuel_type,
    options_for_select(Analysis::FUEL_TYPES) %> for irrigation, and
  <%= text_field_tag :other_fuel_volume %>
  <%= select_tag :other_fuel_unit,
    options_for_select(Analysis::FUEL_UNITS) %>
  <%= select_tag :other_fuel_type,
    options_for_select(Analysis::FUEL_TYPES) %> for other practices.
</section>
