<h1>Fuel and purposes</h1>
<section>
  Each year, we use an estimated
  <%= f.fields_for :transportation_fuels do |builder| %>
    <%= builder.hidden_field :category, value: Category::TRANSPORTATION_FUEL %>
    <%= builder.text_field :amount %>
    <%= builder.select :unit, options_for_select(Analysis::FUEL_UNITS) %>
    <%= builder.select :addition_type,
      options_for_select(Analysis::FUEL_TYPES) %> for transportation,
  <% end %>
  <%= f.fields_for :irrigation_fuels do |builder| %>
    <%= builder.hidden_field :category, value: Category::IRRIGATION_FUEL %>
    <%= builder.text_field :amount %>
    <%= builder.select :unit, options_for_select(Analysis::FUEL_UNITS) %>
    <%= builder.select :addition_type,
      options_for_select(Analysis::FUEL_TYPES) %> for irrigation, and
  <% end %>
  <%= f.fields_for :other_fuels do |builder| %>
    <%= builder.hidden_field :category, value: Category::OTHER_FUEL %>
    <%= builder.text_field :amount %>
    <%= builder.select :unit, options_for_select(Analysis::FUEL_UNITS) %>
    <%= builder.select :addition_type,
      options_for_select(Analysis::FUEL_TYPES) %> for other practices.
  <% end %>
</section>
