<div class="c-analysis-sidebar -is-not-printable">
  <div class="input-group -header">
    <p class="text -sidebar-resume -light">Find out here how alternative practices could reduce your emissions</p>
  </div>
  <%= form_for [:api, :v1, analysis], :html => { :id => "analysis-sidebar-form" } do |f| %>
    <div class="input-group -first">
      <% if !analysis.perennial_or_paddy? %>
        <div>
          <div class="c-field -narrow -full -light">
            <label class="text -label" for="">Tillage</label>
            <%= f.select:tillage, select_options(Analysis::TILLAGES, analysis.tillage), {} %>
          </div>
        </div>
      <% end %>
      <div class="c-field -narrow -light -double">
        <label class="text -label" for="">
          Synthetic fertilizers <%= icon_to_add_more(f, :fertilizers) %>
        </label>
        <div class="fields-container">
          <%= f.fields_for :fertilizers do |builder| %>
            <%= render 'fertilizer_sidebar_fields', f: builder %>
          <% end %>
        </div>
      </div>
      <div class="c-field -narrow -light -double">
        <label class="text -label" for="">
          Manures <%= icon_to_add_more(f, :manures) %>
        </label>
        <div class="fields-container">
          <%= f.fields_for :manures do |builder| %>
            <%= render 'manure_sidebar_fields', f: builder %>
          <% end %>
        </div>
      </div>
      <div>
        <div class="c-field -narrow -light -full">
          <label class="text -label" for="">Agrochemicals amount</label>
          <%= f.number_field :agrochemical_amount, min: 0, class: "-js-is-resetable" %>
          <div class="options-wrapper">
            <button class="btn-reset -js-reset-analysis is-hidden" data-previous-value="<%= analysis.agrochemical_amount %>">
              <svg class="c-icon -small">
                <use xlink:href="#icon-reset"></use>
              </svg>
              <span class="reset-tooltip -js-reset-tooltip is-hidden">
                <p>Revert to original value: </p>
                <p><%= analysis.agrochemical_amount || 0 %></p>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <% if !analysis.perennial_or_paddy? %>
      <div class="input-group -second">
        <div>
          <label class="text -label" for="">Crop management practices</label>
          <% Analysis::CROP_MANAGEMENT_PRACTICES.each do |practice| %>
            <div class="c-checkbox-box -small -light">
              <div class="custom-checkbox">

                <%= f.check_box :crop_management_practices, { multiple: true }, practice[:slug], nil %>
                <label for="analysis_crop_management_practices_<%= practice[:slug] %>">
                  <span>
                    <svg class="c-icon -small"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
                  </span>
                  <%= practice[:title] %>
                </label>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="input-group -third">
      <% unless analysis.paddy_rice? %>
        <div>
          <div class="c-field -narrow -full -light">
            <label class="text -label" for="">Agroforestry practices?</label>
            <%= f.select :agroforestry_practices, options_for_select([["Yes", true], ["No", false]], analysis.agroforestry_practices) %>
          </div>
        </div>
      <% end %>
      <div>
        <div class="c-field -narrow -light -full">
          <label class="text -label" for="">Lime</label>
          <%= f.number_field :lime_amount, min: 0, class: "-js-is-resetable" %>
          <span class="options-wrapper">
            <span class="btn-reset -js-reset-analysis is-hidden" data-previous-value="<%= analysis.lime_amount %>">
              <svg class="c-icon -small">
                <use xlink:href="#icon-reset"></use>
              </svg>
              <span class="reset-tooltip -js-reset-tooltip is-hidden">
                <p>Revert to original value: </p>
                <p><%= analysis.lime_amount || 0 %></p>
              </span>
            </span>
          </span>
        </div>
      </div>
      <div>
        <div class="c-field -narrow -light -full">
          <label class="text -label" for="">Dolomite</label>
          <%= f.number_field :dolomite_amount, min: 0, class: "-js-is-resetable" %>
          <span class="options-wrapper">
            <span class="btn-reset -js-reset-analysis is-hidden" data-previous-value="<%= analysis.dolomite_amount %>">
              <svg class="c-icon -small">
                <use xlink:href="#icon-reset"></use>
              </svg>
              <span class="reset-tooltip -js-reset-tooltip is-hidden">
                <p>Revert to original value: </p>
                <p><%= analysis.dolomite_amount || 0 %></p>
              </span>
            </span>
          </span>
        </div>
      </div>

      <%= f.fields_for :transportation_fuels do |builder| %>
        <%= builder.hidden_field :category, value: Category::TRANSPORTATION_FUEL %>
        <%= builder.hidden_field :addition_type, value: builder.object.addition_type %>
        <div class="c-field -narrow -light -double">
          <label class="text -label" for="">
            <%= builder.object.fuel_name %> for transportation
          </label>
          <%= builder.number_field :amount, min: 0, class: "-js-is-resetable"  %>
          <%= builder.select :unit, select_options(Analysis::FUEL_UNITS, builder.object.unit) %>
          <span class="options-wrapper">
            <span class="btn-reset -js-reset-analysis is-hidden" data-previous-value="<%= builder.object.amount %>">
              <svg class="c-icon -small">
                <use xlink:href="#icon-reset"></use>
              </svg>
              <span class="reset-tooltip -js-reset-tooltip is-hidden">
                <p>Revert to original value: </p>
                <p><%= builder.object.amount || 0 %></p>
              </span>
            </span>
          </span>
        </div>
      <% end %>


      <%= f.fields_for :irrigation_fuels do |builder| %>
        <%= builder.hidden_field :category, value: Category::IRRIGATION_FUEL %>
        <%= builder.hidden_field :addition_type, value: builder.object.addition_type %>
        <div class="c-field -narrow -light -double">
          <label class="text -label" for="">
            <%= builder.object.fuel_name %> for irrigation
          </label>
          <%= builder.number_field :amount, min: 0, class: "-js-is-resetable"  %>
          <%= builder.select :unit, select_options(Analysis::FUEL_UNITS, builder.object.unit) %>
          <span class="options-wrapper">
            <span class="btn-reset -js-reset-analysis is-hidden" data-previous-value="<%= builder.object.amount %>">
              <svg class="c-icon -small">
                <use xlink:href="#icon-reset"></use>
              </svg>
              <span class="reset-tooltip -js-reset-tooltip is-hidden">
                <p>Revert to original value: </p>
                <p><%= builder.object.amount  || 0 %></p>
              </span>
            </span>
          </span>
        </div>
      <% end %>

      <%= f.fields_for :fuels do |builder| %>
        <%= builder.hidden_field :category, value: Category::FUEL %>
        <%= builder.hidden_field :addition_type, value: builder.object.addition_type %>
        <div class="c-field -narrow -light -double">
          <label class="text -label" for="">
            <%= builder.object.fuel_name %> for other purposes
          </label>
          <%= builder.number_field :amount, min: 0, class: "-js-is-resetable"  %>
          <%= builder.select :unit, select_options(Analysis::FUEL_UNITS, builder.object.unit) %>
          <span class="options-wrapper">
            <button class="btn-reset -js-reset-analysis is-hidden" data-previous-value="<%= builder.object.amount %>">
              <svg class="c-icon -small">
                <use xlink:href="#icon-reset"></use>
              </svg>
              <span class="reset-tooltip -js-reset-tooltip is-hidden">
                <p>Revert to original value: </p>
                <p><%= builder.object.amount || 0 %></p>
              </span>
            </button>
          </span>
        </div>
      <% end %>

      <% if analysis.paddy_rice? %>
        <div>
          <div class="c-field -narrow -full -light">
            <label class="text -label" for="">Irrigation regime</label>
            <%= f.select :irrigation_regime, select_options(Analysis::IRRIGATION_REGIMES, analysis.irrigation_regime),
              {}, class: '-js-required' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

