<div class="c-analysis-sidebar">
  <div class="input-group -header">
    <p class="text -sidebar-resume -light">Find out here how alternative practices could reduce your emissions</p>
  </div>
  <%= form_for [:api, :v1, analysis], :html => { :id => "analysis-sidebar-form" } do |f| %>
    <div class="input-group -first">
      <div>
        <div class="c-field -narrow -full -light">
          <label class="text -label" for="">Tillage</label>
          <%= f.select:tillage, select_options(Analysis::TILLAGES, analysis.tillage), {} %>
        </div>
      </div>
      <%= f.fields_for :fertilizers do |builder| %>
        <div>
          <div class="c-field -narrow -light">
            <label class="text -label" for=""><%= builder.object.fertilizer_name %></label>
            <%= builder.number_field :amount, min: 0 %>
          </div>
        </div>
      <% end %>
      <%= f.fields_for :manures do |builder| %>
        <div>
          <div class="c-field -narrow -light">
            <label class="text -label" for=""><%= builder.object.manure_name %></label>
            <%= builder.number_field :amount, min: 0 %>
          </div>
        </div>
      <% end %>
      <div>
        <div class="c-field -narrow -light">
          <label class="text -label" for="">Agrochemicals amount</label>
          <%= f.number_field :agrochemical_amount, min: 0 %>
        </div>
      </div>
    </div>
    <div class="input-group -second">
      <div>
        <label class="text -label" for="">Crop management practices</label>
        <% Analysis::CROP_MANAGEMENT_PRACTICES.each do |practice| %>
          <div class="c-checkbox-box -small -light">
            <div class="custom-checkbox">

              <%= f.check_box :crop_management_practices, { multiple: true }, practice[:slug], nil %>
              <label for="analysis_crop_management_practices_<%= practice[:slug] %>">
                <span>
                  <svg class="c-icon -small"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
                </span>
                <%= practice[:title] %>
              </label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="input-group -third">
      <% unless analysis.rice? %>
        <div>
          <div class="c-field -narrow -full -light">
            <label class="text -label" for="">Agroforestry practices?</label>
            <%= f.select :agroforestry_practices, options_for_select([["Yes", true], ["No", false]], analysis.agroforestry_practices) %>
          </div>
        </div>
      <% end %>
      <div>
        <div class="c-field -narrow -light -full">
          <label class="text -label" for="">Lime</label>
          <%= f.number_field :lime_amount, min: 0 %>
        </div>
      </div>
      <div>
        <div class="c-field -narrow -light -full">
          <label class="text -label" for="">Dolomite</label>
          <%= f.number_field :dolomite_amount, min: 0 %>
        </div>
      </div>
      <div>
        <%= f.fields_for :fuels do |builder| %>
          <div class="c-field -narrow -light -full">
            <label class="text -label" for=""><%= builder.object.fuel_name %></label>
            <%= builder.number_field :amount, min: 0  %><%= builder.object.fuel_unit_name %>
          </div>
        <% end %>
      </div>
      <% if analysis.rice? %>
        <div>
          <div class="c-field -narrow -full -light">
            <label class="text -label" for="">Irrigation regime</label>
            <%= f.select :irrigation_regime, select_options(Analysis::IRRIGATION_REGIMES, analysis.irrigation_regime),
              {}, class: '-js-required' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

