<div class="c-slider-step js-slider-step" data-crop="other">
  <!-- <h1>Tillage</h1> -->
  <div class="slider-step-container">
    <span class="text -guidance">Describe how you manage your crops</span>
    <span>
      <div>
        My crop management includes
      </div>
      <div class="c-field -huge">
        <%= f.select:tillage, select_options(Analysis::TILLAGES), {}, class: "-js-required" %>
      </div>
    </span>
  </div>
</div>


<div class="c-slider-step js-slider-step">
  <!-- <h1>Additional crop management</h1> -->
  <div class="slider-step-container">
    <span class="text -guidance">Please tell us about your use of fertilizers</span>
    <span>What fertilizers do you apply?</span>
    <% if f.object.fertilizers.any? %>
      <span>
        <%= f.fields_for :fertilizers do |builder| %>
          <div>
            <%= builder.hidden_field :category, value: Category::FERTILIZER %>
            <span class="c-field -huge">
              <%= builder.select :addition_type, select_options(Analysis::FERTILIZER_TYPES) %>
            </span>
            <span class="c-field -huge">
              <%= builder.number_field :amount, class: '-right -js-numeric', autocomplete: 'off', min: '0' %>
              <span class="unit">kg/ha/year</span>
            </span>
            of
          </div>
        <% end %>
      </span>
    <% end %>
    <% if f.object.manures.any? %>
      <span>
        <%= f.fields_for :manures do |builder| %>
          <%= builder.hidden_field :category, value: Category::MANURE %>
          <span>
            and
            <span class="c-field -medium">
              <%= builder.number_field :amount, class: '-right -js-numeric', autocomplete: 'off', min: '0' %>
              <span class="unit">kg/ha/year</span>
            </span>
            of
            <span class="c-field -medium">
              <%= builder.select :addition_type, select_options(Analysis::MANURE_TYPES) %>
            </span>
          </span>
        <% end %>
      </span>
    <% end %>

    <div id="options-container"></div>

    <span class="c-field-wrapper">
      <span class="c-field -hald-width">
        <%= select_to_add_fields "Add a synthetic one", f, :fertilizers, select_options(Analysis::FERTILIZER_TYPES) %>
      </span>
      <span>or</span>
      <span class="c-field -hald-width">
        <%= select_to_add_fields "Add a manure", f, :manures, select_options(Analysis::MANURE_TYPES) %>
      </span>
    </span>
  </div>
</div>


<div class="c-slider-step js-slider-step -huge" data-crop="other">
  <!-- <h1>Additional crop management</h1> -->
  <div class="slider-step-container">
    <span class="text -guidance">Please tell us if you apply any additional nutrient management practices.</span>
    <span>
      <div>
        <p class="text -questions">Additional crop management practices include:</p>
        <span class="text -guidance"> (check all that apply) </span>
      </div>
      <div class="slider-step-checkbox-grid">
        <% Analysis::CROP_MANAGEMENT_PRACTICES.each do |practice| %>
        <div class="c-checkbox-box -medium">
          <div class="custom-checkbox">
            <%= f.check_box :crop_management_practices, { multiple: true },
            practice[:slug], nil %>
            <%= label_tag "analysis_crop_management_practices_#{practice[:slug]}", "<span><svg class='c-icon -small'><use xlink:href='#icon-check'></use></svg></span> #{practice[:title]}".html_safe %>
          </div>
        </div>
        <% end %>
      </div>
    </span>
  </div>
</div>


<div class="c-slider-step js-slider-step" data-crop="other,perennial">
  <!-- <h1>Shade trees</h1> -->
  <div class="slider-step-container">
    <span class="text -guidance">Please tell us if you apply any agroforestry practices.</span>
    <span>
      <div class="text -questions">
        Does the cropland currently include windbreaks, alley cropping, or any type of
        additional silviculture?
      </div>
      <span class="c-field">
        <%= f.select :agroforestry_practices,
          options_for_select([["Yes", true], ["No", false]], f.object.agroforestry_practices) %>
      </span>
    </span>
  </div>
</div>


<div class="c-slider-step js-slider-step" data-crop="paddy-rice">
  <!-- <h1>Type of Rice and Irrigiation Regime</h1> -->
  <div class="slider-step-container">
    <span class="text -guidance">Please tell us about your rice irrigation practices.</span>
    <span>
      My irrigation regime
    </span>
    <span>
      can be described as
      <div class="c-field -huge">
        <%= f.select :irrigation_regime, select_options(Analysis::IRRIGATION_REGIMES), {}, class: '-js-required' %>
      </div>
    </span>
  </div>
</div>

<div class="c-slider-step js-slider-step" data-crop="paddy-rice">
  <!-- <h1>Flooding before cultivation</h1> -->
  <div class="slider-step-container">
    <span class="text -guidance">Tell us about the specifics of your rice cultivation</span>
    <span>
      Before cultivation starts, cropland is
    </span>
    <span>
      <span class="c-field -huge">
        <%= f.select :flooding, select_options(Analysis::FLOODING_PRACTICES), {}, class: '-js-required' %>
      </span>
    </span>
    <span>
      and cultivation takes
      <span class="c-field -little">
        <%= f.number_field :cultivation_time, value: 120, class: '-right -js-required -js-numeric', autocomplete: 'off', min: '0' %>
      </span>
      days.
    </span>
    <span>
      I do
      <span class="c-field -little">
        <%= f.number_field :annual_cultivation_cycles, class: '-right -js-required -js-numeric', autocomplete: 'off', min: '0' %>
      </span>
      annual cultivation cycles.
    </span>
  </div>
</div>
