<%= form_for(analysis) do |f| %>
  <div id="wizard">
    <%= render partial: 'geo_location', f: f %>
    <%= render partial: 'basic_info', f: f %>

    <%# Not RICE %>

    <%= render partial: 'tillage', f: f %>
    <%= render partial: 'additional_crop_management', f: f %>
    <%= render partial: 'shade_trees', f: f %>
    <%= render partial: 'agrochemicals', f: f %>
    <%= render partial: 'fossil_fuels', f: f %>

    <%# RICE only Section %>

    <%= render partial: 'analyses/rice/irrigation_regime', f: f %>
    <%= render partial: 'analyses/rice/flooding', f: f %>
    <%= render partial: 'analyses/rice/fertilizer_nutrients', f: f %>
    <%= render partial: 'agrochemicals', f: f %>
    <%= render partial: 'analyses/rice/fuel', f: f %>

    <h1>Done</h1>
    <section>
      <div class="actions">
        <%= f.submit %>
      </div>
    </section>
  </div>
<% end %>
