<h1>Fossil fuels</h1>
<section>
  Each year, we use an estimated
  <%= f.fields_for :fuels do |builder| %>
    <%= builder.hidden_field :category, value: Category::FUEL %>
    <%= builder.text_field :amount %>
    <%= builder.select :unit, options_for_select(Analysis::FUEL_UNITS) %>
    of
    <%= builder.select :addition_type, options_for_select(Analysis::FUEL_TYPES) %>.
  <% end %>
</section>
