<div class="c-slider-step js-slider-step -active">
  <!-- <h1>Fuel and purposes</h1> -->
  <div class="slider-step-container -light">
    <span>
      Each year, we use an estimated
    </span>
    <span>
      <%= f.fields_for :transportation_fuels do |builder| %>
        <%= render 'transportation_fuel_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "+Add", f, :transportation_fuels %>
    </span>
    <span>
      <%= f.fields_for :irrigation_fuels do |builder| %>
        <%= render 'irrigation_fuel_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "+Add", f, :irrigation_fuels %>
    </span>
    <span>
      <%= f.fields_for :fuels do |builder| %>
        <%= render 'fuel_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "+Add", f, :fuels %>
    </span>
  </div>
</div>
