<div class="c-slider-step js-slider-step -active">
  <!-- <h1>Fuel and purposes</h1> -->
  <p class="text -questions">
    <span>
      Each year, we use an estimated
    </span>
    <span>
      <%= f.fields_for :transportation_fuels do |builder| %>
        <%= builder.hidden_field :category, value: Category::TRANSPORTATION_FUEL %>
        <span class="c-input-field">
          <%= builder.text_field :amount, class: '-input-small' %>
          <%= builder.select :unit, select_options(Analysis::FUEL_UNITS) %>
          <%= builder.select :addition_type, select_options(Analysis::FUEL_TYPES) %>
        </span>
        for transportation,
      <% end %>
    </span>
    <span>
      <%= f.fields_for :irrigation_fuels do |builder| %>
        <span class="c-input-field">
          <%= builder.hidden_field :category, value: Category::IRRIGATION_FUEL %>
          <%= builder.text_field :amount, class: '-input-small' %>
          <%= builder.select :unit, select_options(Analysis::FUEL_UNITS) %>
          <%= builder.select :addition_type, select_options(Analysis::FUEL_TYPES) %>
        </span>
        for irrigation, and
      <% end %>
    </span>
    <span>
      <%= f.fields_for :fuels do |builder| %>
        <span class="c-input-field">
          <%= builder.hidden_field :category, value: Category::FUEL %>
          <%= builder.text_field :amount, class: '-input-small' %>
          <%= builder.select :unit, select_options(Analysis::FUEL_UNITS) %>
          <%= builder.select :addition_type, select_options(Analysis::FUEL_TYPES) %>
        </span>
        for other practices.
      <% end %>
    </span>
    <div class="actions">
      <div class="c-input-field">
        <%= f.submit %>
      </div>
    </div>
  </p>
</div>
