<div class="c-slider-step js-slider-step -active" data-guidance="fuel">
  <!-- <h1>Fuel and purposes</h1> -->
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Please tell us if you use fossil fuels as part of your work</span>

    <span>My fuel usage for transportation is:</span>

    <%= f.fields_for :transportation_fuels do |builder| %>
      <%= builder.hidden_field :category, value: Category::TRANSPORTATION_FUEL %>
      <div class="c-field-wrapper -big">
        <div>
          <div class="c-field -little -light">
            <%= builder.number_field :amount, class: '-right -js-numeric',
              autocomplete: 'off', min: '0', placeholder: 0.0 %>
          </div>

          <div class="c-field -little -light">
            <%= builder.select :unit, select_options(Analysis::FUEL_UNITS, builder.object.unit), {}, class: '-theme-5' %>
          </div>

          <div class="c-field -light">
            <%= builder.hidden_field :addition_type, value: builder.object.addition_type %>
            of <%= builder.object.addition_type %> per year.
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="c-slider-step js-slider-step -active" data-guidance="fuel">
  <!-- <h1>Fuel and purposes</h1> -->
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Please tell us if you use fossil fuels as part of your work</span>

    <span>My fuel usage for irrigation is</span>

    <%= f.fields_for :irrigation_fuels do |builder| %>
      <div class="c-field-wrapper -big">
        <div class="c-field -little -light">
          <%= builder.hidden_field :category, value: Category::IRRIGATION_FUEL %>
          <%= builder.number_field :amount, class: '-right -js-numeric', autocomplete: 'off',
            min: '0', placeholder: 0.0 %>
        </div>
        <div class="c-field -little -light">
          <%= builder.select :unit, select_options(Analysis::FUEL_UNITS, builder.object.unit), {}, class: '-theme-5' %>
        </div>
        <div class="c-field -light">
          <%= builder.hidden_field :addition_type, value: builder.object.addition_type %>
         of <%= builder.object.addition_type %> per year.
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="c-slider-step js-slider-step -active" data-guidance="geo-location">
  <!-- <h1>Fuel and purposes</h1> -->
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Please tell us if you use fossil fuels as part of your work</span>

    <span> My fuel usage for other purposes is</span>

    <%= f.fields_for :fuels do |builder| %>
      <div class="c-field-wrapper -big">
        <div class="c-field -little -light">
          <%= builder.hidden_field :category, value: Category::FUEL %>
          <%= builder.number_field :amount, class: '-right -js-numeric', autocomplete: 'off',
            min: '0', placeholder: 0.0 %>
        </div>
        <div class="c-field -little -light">
          <%= builder.select :unit, select_options(Analysis::FUEL_UNITS, builder.object.unit), {}, class: '-theme-5' %>
        </div>
        <div class="c-field -light">
          <%= builder.hidden_field :addition_type, value: builder.object.addition_type %>
          of <%= builder.object.addition_type %> per year.
        </div>
      </div>
    <% end %>

  </div>
</div>
