<div>
  <span class="c-field -little -light">
    <%= f.hidden_field :category, value: Category::IRRIGATION_FUEL %>
    <%= f.number_field :amount, class: '-right -js-numeric', autocomplete: 'off', min: '0' %>
  </span>
  <span class="c-field -little -light">
    <%= f.select :unit, select_options(Analysis::FUEL_UNITS) %>
  </span>
  <span class="c-field -little -light">
    <%= f.select :addition_type, select_options(Analysis::FUEL_TYPES) %>
  </span>
  for irrigation, and
  <%= f.hidden_field :_destroy %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>
