<span class="-js-input-wrapper c-field-wrapper -medium -space-between">
  <%= f.hidden_field :category, value: Category::MANURE %>
  <span class="c-field -little">
    <%= f.number_field :amount, class: '-right -js-numeric', autocomplete: 'off',
      min: '0', placeholder: 0.0 %>
    <span class="unit">kg/ha/year</span>
  </span>
  of
  <span class="c-field -medium">
    <%= f.select :addition_type, select_options(Analysis::MANURE_TYPES) %>
  </span>
  <%= f.hidden_field :_destroy %>
  <%= link_to image_tag('delete.svg'), '#', class: "-js-remove-fields" %>
</span>
