<div class="c-analysis-sidebar -is-printable">
  <div class="input-group -header">
    <p class="text -sidebar-resume -light">Your analysis inputs</p>
  </div>
  <div class="input-group -first">
    <% if !analysis.perennial_or_paddy? %>
      <div>
        <div class="c-field -narrow -full -light">
          <%= Analysis::TILLAGES.select{|t| t[:slug] == analysis.tillage}.first[:title] %>
        </div>
      </div>
    <% end %>
    <% if analysis.fertilizers.where('amount > 0.0').any? %>
      <div class="c-field -narrow -light -full">
        <label class="text -label" for="">Synthetic fertilizers</label>
        <div class="fields-container">
          <ul>
            <% analysis.fertilizers.each do |fert| %>
              <li><%= fert.amount %> kg/ha/year of <%= fert.fertilizer_name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if analysis.manures.where('amount > 0.0').any? %>
      <div class="c-field -narrow -light -full">
        <label class="text -label" for="">Manures</label>
        <div class="fields-container">
          <ul>
            <% analysis.manures.each do |manure| %>
              <li><%= manure.amount %> kg/ha/year of <%= manure.manure_name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if analysis.agrochemical_amount.present? && analysis.agrochemical_amount > 0.0%>
      <div class="c-field -narrow -light -full">
        <%= analysis.agrochemical_amount %> kg./ha/year of agrochemicals
      </div>
    <% end %>
  </div>
  <% if analysis.crop_management_practices.present? %>
    <div class="input-group -second">
      <div>
        <label class="text -label" for="">Crop management practices</label>
        <% analysis.crop_management_practices.each do |practice| %>
          <ul>
            <li>
              <%= Analysis::CROP_MANAGEMENT_PRACTICES.select{|t| t[:slug] == practice}.first[:title] %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="input-group -third">
    <% unless analysis.paddy_rice? %>
      <div class="c-field -narrow -full -light">
        Agroforestry practices <%= "not " unless analysis.agroforestry_practices? %>applied
      </div>
    <% end %>
    <% if analysis.lime_amount.present? && analysis.lime_amount > 0.0 %>
      <div class="c-field -narrow -light -full">
        <%= analysis.lime_amount %> kg./ha/year of Lime applied
      </div>
    <% end %>
    <% if analysis.dolomite_amount.present? && analysis.dolomite_amount > 0.0 %>
      <div class="c-field -narrow -light -full">
        <%= analysis.dolomite_amount %> kg./ha/year of Dolomite applied
      </div>
    <% end %>

    <% if analysis.transportation_fuels.where("amount > 0.0").any? %>
      <div class="c-field -narrow -light -full">
        <label class="text -label" for="">
          Fuel for transportation
        </label>
        <ul>
          <% analysis.transportation_fuels.each do |fuel| %>
            <% if fuel.amount.present? %>
              <li><%= fuel.amount %> <%= fuel.fuel_unit_name %> of <%= fuel.fuel_name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>


    <% if analysis.irrigation_fuels.where("amount > 0.0").any? %>
      <div class="c-field -narrow -light -full">
        <label class="text -label" for="">
          Fuel for irrigation
        </label>
        <ul>
          <% analysis.irrigation_fuels.each do |fuel| %>
            <% if fuel.amount.present? %>
              <li><%= fuel.amount %> <%= fuel.fuel_unit_name %> of <%= fuel.fuel_name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if analysis.fuels.where("amount > 0.0").any? %>
      <div class="c-field -narrow -light -full">
        <label class="text -label" for="">
          Fuel for other purposes
        </label>
        <ul>
          <% analysis.fuels.each do |fuel| %>
            <% if fuel.amount.present? %>
              <li><%= fuel.amount %> <%= fuel.fuel_unit_name %> of <%= fuel.fuel_name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if analysis.paddy_rice? && analysis.irrigation_regime.present? %>
      <div>
        <div class="c-field -narrow -full -light">
          <label class="text -label" for="">Irrigation regime</label>
          <%= Analysis::IRRIGATION_REGIMES.select{|t| t[:slug] == analysis.irrigation_regime}.first[:title] %>
        </div>
      </div>
    <% end %>
  </div>
</div>

