<div clas="c-analysis-sidebar">
<% if !analysis.perennial_or_paddy? %>
  <span>
    Tillage:<%= Analysis::TILLAGES.select{|t| t[:slug] == analysis.tillage}.first[:title] %>
</span>
  <% end %>
  <% unless analysis.fertilizers.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.fertilizers.each do |fert| %>
      <span><%= fert.amount %> kg/ha/year of <%= fert.fertilizer_name %></span>
    <% end %>
  <% end %>
  <% unless analysis.manures.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.manures.each do |manure| %>
      <span><%= manure.amount %> kg/ha/year of <%= manure.manure_name %></span>
    <% end %>
  <% end %>
  <% unless analysis.paddy_rice? %>
    <span>Agroforestry practices <%= "not " unless analysis.agroforestry_practices? %>applied</span>
  <% end %>
  <% if analysis.paddy_rice? %>
    <% if analysis.irrigation_regime %>
      <span>
        Irrigation regime
        <%= Analysis::IRRIGATION_REGIMES.select{|t| t[:slug] == analysis.irrigation_regime}.first[:title] %>
      </span>
    <% end %>
    <% if analysis.flooding %>
      <span>
        Before cultivation
        <%= Analysis::FLOODING_PRACTICES.select{|t| t[:slug] == analysis.flooding}.first[:title] %>
      </span>
    <% end %>
    <span>
      Cultivation takes <%= analysis.cultivation_time %> days
    </span>
    <span>
      <%= analysis.annual_cultivation_cycles %> Annual cultivation cycles
    </span>
  <% end %>
  <% if analysis.crop_management_practices.present? %>
    <span>Crop management practices:</span>
    <% analysis.crop_management_practices.each do |practice| %>
      <span>
        <%= Analysis::CROP_MANAGEMENT_PRACTICES.select{|t| t[:slug] == practice}.first[:title] %>
      </span>
    <% end %>
  <% end %>
  <% if analysis.lime_amount.present? && analysis.lime_amount > 0.0 %>
    <span>
      <%= analysis.lime_amount %> kg./ha/year of Lime applied
    </span>
  <% end %>
  <% if analysis.dolomite_amount.present? && analysis.dolomite_amount > 0.0 %>
    <span>
      <%= analysis.dolomite_amount %> kg./ha/year of Dolomite applied
    </span>
  <% end %>
  <% if analysis.agrochemical_amount.present? && analysis.agrochemical_amount > 0.0%>
    <span>
      <%= analysis.agrochemical_amount %> kg./ha/year of agrochemicals
    </span>
  <% end %>
  <% if analysis.paddy_rice? %>
    <% unless analysis.nutrient_managements.select{|t| t.amount && t.amount > 0.0}.empty? %>
      <span>
        You incorporate
        <% analysis.nutrient_managements.each do |nut| %>
          <%= nut.amount %> kg/ha/year of <%= nut.nutrient_mgmt_name %>
        <% end %>
      </span>
    <% end %>
    <span>
      Rice straw burned
      <%= analysis.rice_straw_burned %>
    </span>
  <% end %>
  <% unless analysis.transportation_fuels.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.transportation_fuels.each do |fuel| %>
      <% if fuel.amount.present? %>
        <span><%= fuel.amount %> <%= fuel.fuel_unit_name %> of <%= fuel.fuel_name %> for transportation</span>
      <% end %>
    <% end %>
  <% end %>


  <% unless analysis.irrigation_fuels.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.irrigation_fuels.each do |fuel| %>
      <% if fuel.amount.present? %>
        <span><%= fuel.amount %> <%= fuel.fuel_unit_name %> of <%= fuel.fuel_name %> for irrigation</span>
      <% end %>
    <% end %>
  <% end %>

  <% unless analysis.fuels.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.fuels.each do |fuel| %>
      <% if fuel.amount.present? %>
        <span><%= fuel.amount %> <%= fuel.fuel_unit_name %> of <%= fuel.fuel_name %> for other purposes</span>
      <% end %>
    <% end %>
  <% end %>
</div>
