<div clas="c-analysis-sidebar">
  <p class="text -print-figure">
    Annual production of <%= analysis.converted_yield %> t per ha
  </p>
  <% if !analysis.perennial_or_paddy? %>
    <p class="text -print-figure">
      Tillage:<%= Analysis::TILLAGES.select{|t| t[:slug] == analysis.tillage}.first[:title] %>
    </p>
  <% end %>

  <% unless analysis.fertilizers.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.fertilizers.each do |fert| %>
      <p>
        <span class="text -print-figure"><%= fert.amount %></span>
        <span class="text -print-units">kg./ha/year</span>
        <span class="text -print-product">of <%= fert.fertilizer_name %></span>
      </p>
    <% end %>
  <% end %>

  <% unless analysis.manures.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.manures.each do |manure| %>
      <p>
        <span class="text -print-figure"><%= manure.amount %></span>
        <span class="text -print-units">kg./ha/year</span>
        <span class="text -print-product">of <%= manure.manure_name %></span>
      </p>
    <% end %>
  <% end %>

  <% unless analysis.paddy_rice? %>
    <p>
      <span class="text -print-product">Agroforestry practices <%= "not " unless analysis.agroforestry_practices? %>applied</span>
    </p>
  <% end %>

  <% if analysis.paddy_rice? %>
    <% if analysis.irrigation_regime %>
      <p class="text -print-figure">
        Irrigation regime
        <%= Analysis::IRRIGATION_REGIMES.select{|t| t[:slug] == analysis.irrigation_regime}.first[:title] %>
      </p>
    <% end %>
    <% if analysis.flooding %>
      <p class="text -print-figure">
        Before cultivation
        <%= Analysis::FLOODING_PRACTICES.select{|t| t[:slug] == analysis.flooding}.first[:title] %>
      </p>
    <% end %>
    <p class="text -print-figure">
      Cultivation takes <%= analysis.cultivation_time %> days
    </p>
    <p class="text -print-figure">
      <%= analysis.annual_cultivation_cycles %> Annual cultivation cycles
    </p>
  <% end %>

  <% if analysis.crop_management_practices.present? %>
    <p class="text -print-figure">Crop management practices:</p>
    <% analysis.crop_management_practices.each do |practice| %>
      <p class="text -print-figure">
        <%= Analysis::CROP_MANAGEMENT_PRACTICES.select{|t| t[:slug] == practice}.first[:title] %>
      </p>
    <% end %>
  <% end %>

  <% if analysis.lime_amount.present? && analysis.lime_amount > 0.0 %>
    <p>
      <span class="text -print-figure"><%= analysis.lime_amount %></span>
      <span class="text -print-units">kg./ha/year</span>
      <span class="text -print-product">of Lime applied</span>
    </p>
  <% end %>

  <% if analysis.dolomite_amount.present? && analysis.dolomite_amount > 0.0 %>
    <p>
      <span class="text -print-figure"><%= analysis.dolomite_amount %></span>
      <span class="text -print-units">kg./ha/year</span>
      <span class="text -print-product">of Dolomite applied</span>
    </p>
  <% end %>

  <% if analysis.agrochemical_amount.present? && analysis.agrochemical_amount > 0.0%>
    <p>
      <span class="text -print-figure"><%= analysis.agrochemical_amount %></span>
      <span class="text -print-units">kg./ha/year</span>
      <span class="text -print-product">of pesticides and/or herbicides</span>
    </p>
  <% end %>

  <% if analysis.paddy_rice? %>

    <% unless analysis.nutrient_managements.select{|t| t.amount && t.amount > 0.0}.empty? %>
      <p>
        You incorporate
        <% analysis.nutrient_managements.each do |nut| %>
          <span class="text -print-figure"><%= nut.amount %></span>
          <span class="text -print-units">kg./ha/year</span>
          <span class="text -print-product">of <%= nut.nutrient_mgmt_name %></span>
        <% end %>
      </p>
    <% end %>

    <p>
      <span class="text -print-product">Rice straw burned</span>
      <span class="text -print-figure"><%= analysis.rice_straw_burned %></span>
    </p>
  <% end %>

  <% unless analysis.transportation_fuels.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.transportation_fuels.each do |fuel| %>
      <% if fuel.amount.present? %>
        <p>
          <span class="text -print-figure"><%= fuel.amount %></span>
          <span class="text -print-units">k<%= fuel.fuel_unit_name %></span>
          <span class="text -print-product">of <%= fuel.fuel_name %> for transportation</span>
        </p>
      <% end %>
    <% end %>
  <% end %>


  <% unless analysis.irrigation_fuels.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.irrigation_fuels.each do |fuel| %>
      <% if fuel.amount.present? %>
        <p>
          <span class="text -print-figure"><%= fuel.amount %></span>
          <span class="text -print-units">k<%= fuel.fuel_unit_name %></span>
          <span class="text -print-product">of <%= fuel.fuel_name %> for irrigation</span>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <% unless analysis.fuels.select{|t| t.amount && t.amount > 0.0}.empty? %>
    <% analysis.fuels.each do |fuel| %>
      <% if fuel.amount.present? %>
        <p>
          <span class="text -print-figure"><%= fuel.amount %></span>
          <span class="text -print-units">k<%= fuel.fuel_unit_name %></span>
          <span class="text -print-product">of <%= fuel.fuel_name %> for other purposes</span>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
