<div class="c-slider-step js-slider-step -active" data-crop="paddy-rice" data-guidance="additional-rice-nutrients">
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Please tell us if you apply any additional soil management practices</span>
    <span>
      We incorporate
    </span>
    <span class="c-field-wrapper">
      <%= f.fields_for :nutrient_managements do |builder| %>
        <%= builder.hidden_field :category, value: Category::NUTRIENT_MANAGEMENT %>
        <span class="c-field -two-elements -light">
          <%= builder.number_field :amount, class: '-right -js-numeric',
            autocomplete: 'off', min: '0', placeholder: 0.0 %>
          <span class="unit">kg/ha/year</span>
        </span>
        <span class="c-text">of</span>
        <span class="c-field -two-elements -light">
          <%= builder.select :addition_type, select_options(Analysis::RICE_NUTRIENT_MANAGEMENT), {}, class: '-theme-4' %>
        </span>
      <% end %>
    </span>
  </div>
</div>

<div class="c-slider-step js-slider-step -active" data-crop="paddy-rice" data-guidance="burning-rice-straw">
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Tell us about your rice straw burning practices</span>
    <div>
      <p class="text -questions">Do you burn your rice straw?</p>
      <div>
        <div class="c-field -little -light">
          <select name="riceStrawBurning" id="riceStrawBurning" class="-js-next-step-switcher -theme-4">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>
      </div>

      <span id="riceStrawBurningAmount" class="c-field -medium -light -disabled -fixed-height">
        <%= f.number_field :rice_straw_burned, class: '-right  -js-numeric',
          autocomplete: 'off', min: '0', placeholder: 0.0 %>
        <span class="unit">kg/ha/year</span>
      </span>

    </div>
  </div>
</div>
