<div class="c-slider-step js-slider-step -active" data-crop="paddy-rice">
  <!-- <h1>Fertilizer and Nutrient Management</h1> -->
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Provide some details about any additional nutrient management practices</span>
    <span>
      We incorporate
    </span>
    <span>
      <%= f.fields_for :nutrient_managements do |builder| %>
        <%= builder.hidden_field :category, value: Category::NUTRIENT_MANAGEMENT %>
        <span class="c-field -little -light">
          <%= builder.number_field :amount, class: '-right -js-required -js-numeric', autocomplete: 'off', min: '0' %>
          <span class="unit">kg/ha/year</span>
        </span>
        of
        <span class="c-field -little -light">
          <%= builder.select :addition_type, select_options(Analysis::RICE_NUTRIENT_MANAGEMENT) %>
        </span>
      <% end %>
    </span>
  </div>
</div>

<div class="c-slider-step js-slider-step -active" data-crop="paddy-rice">
  <!-- <h1>Fertilizer and Nutrient Management</h1> -->
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Tell us about your rice straw burning practices</span>
    <div>
      <p class="text -questions">Do you burn your rice straw?</p>
      <div>
        <div class="c-field -extra-small -light">
          <select name="riceStrawBurning" id="riceStrawBurning" class="-js-next-step-switcher">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>
      </div>

      <span id="riceStrawBurningAmount" class="c-field -medium -light -disabled -fixed-height">
        <%= f.number_field :rice_straw_burned, class: '-right  -js-numeric', autocomplete: 'off', min: '0' %>
        <span class="unit">kg/ha/year</span>
      </span>
    </div>
  </div>
</div>
