<div class="c-slider-step js-slider-step" data-crop="rice">
  <!-- <h1>Type of Rice and Irrigiation Regime</h1> -->
  <div class="slider-step-container">
    <span>
      I grow
      <span class="c-field -little">
        <%= f.select :rice_type,
          options_for_select(["paddy", "upland"]), {}, class: '-js-required' %>
      </span>
    </span>
    <span>
      rice and the irrigation regime
    </span>
    <span>
      can be described as
      <div class="c-field -huge">
        <%= f.select :irrigation_regime, select_options(Analysis::IRRIGATION_REGIMES), {}, class: '-js-required' %>
      </div>
    </span>
  </div>
</div>

<div class="c-slider-step js-slider-step" data-crop="rice">
  <!-- <h1>Flooding before cultivation</h1> -->
  <div class="slider-step-container">
    <span>
      Before cultivation starts, cropland is
    </span>
    <span>
      <span class="c-field -huge">
        <%= f.select :flooding, select_options(Analysis::FLOODING_PRACTICES), {}, class: '-js-required' %>
      </span>
    </span>
    <span>
      and cultivation takes
      <span class="c-field -little">
        <%= f.number_field :cultivation_time, value: 120, class: '-right -js-required -js-numeric', autocomplete: 'off', min: '0' %>
      </span>
      days.
    </span>
    <span>
      I do
      <span class="c-field -little">
        <%= f.number_field :annual_cultivation_cycles, class: '-right -js-required -js-numeric', autocomplete: 'off', min: '0' %>
      </span>
      annual cultivation cycles.
    </span>
  </div>
</div>
