<h1>Tillage</h1>
<section>
  Crop management includes
  <%= f.select:tillage, options_for_select(Analysis::TILLAGES) %>
  and the application of
  <%= text_field_tag :synthetic_fertilizer_amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup> of
  <%= select_tag :synthetic_fertilizer_type,
    options_for_select(Analysis::FERTILIZER_TYPES) %>
  and <%= text_field_tag :manure_amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup>
  <%= select_tag :manure_type, options_for_select(Analysis::MANURE_TYPES) %>
</section>
