<%= form_for @analysis do |f| %>
  <div id="sliderView" class="c-slider">
    <ul>
      <li class="c-slider-item js-slider-item -color1 -initial">
        <%= render partial: 'arrows', locals: { type: 'first' } %>
        <%= render 'country', f: f %>
      </li>

      <li class="c-slider-item js-slider-item -color2">
        <%= render partial: 'arrows', locals: { type: 'default' } %>
        <%= render 'type', f: f %>
      </li>

      <li class="c-slider-item js-slider-item -color3">
        <%= render partial: 'arrows', locals: { type: 'default' } %>
        <%= render 'rice', f: f %>
        <%= render 'crops', f: f %>
      </li>

      <li class="c-slider-item js-slider-item -color4">
        <%= render partial: 'arrows', locals: { type: 'default' } %>
        <%= render 'liming', f: f %>
        <%= render 'agrochemicals', f: f %>
        <%= render 'fertilizers', f: f %>
      </li>

      <li class="c-slider-item js-slider-item -color5">
        <%= render partial: 'arrows', locals: { type: 'last' } %>
        <%= render 'fuel', f: f %>
      </li>
    </ul>
  </div>
<% end %>
