<%= form_for @analysis do |f| %>
  <div id="slider">

    <!-- SLIDE 1 -->
    <h1>Select Geography</h1>
    <section id="slide-1" class="l-slide -theme-1 js--slide -is-current">
      <div class="c-slide-content">
        <%= label_tag :country, "Select your country", class: "text -questions" %>
        <p class="text -description">Start typing or select your country in the map</p>
        <%= select_tag :country,
          options_from_collection_for_select(@geo_locations, :country, :country),
          include_blank: true, class: '-input-big' %>

        <div id="state-selection" class="hidden">
          <%= f.label :geo_location_id, "Select your region", class: "text -questions"%>
          <p class="text -description">Start typing or select your region in the map</p>
          <%= f.select :geo_location_id, [], {}, class: '-input-big' %>
        </div>
      </div>
    </section>

    <!-- SLIDE 2 -->
    <h1>Describe your agricultural activity</h1>
    <section id="slide-2" class="l-slide -theme-2 js--slide">
      <div class="c-slide-content">
        <p class="text -questions">
          <span>
            Currently, I’m growing
            <%= f.select :crop, select_options(Analysis::CROPS) %>
          </span>
          <span>
            on
            <%= f.text_field :area, class: '-input-small' %>
            hectares of land
          </span>
          <span>
            and expect a yield of
          </span>
          <span>
            <%= f.text_field :yield, class: '-input-small' %>
            <%= f.select :yield_unit, select_options(Analysis::YIELD_UNITS), {}, class: '-input-small' %>
            <span class="text -form-inputs -medium"> per yard</span>
          </span>
        </p>
      </div>
    </section>

    <!-- SLIDE 3 to x -->
    <%= render 'crops', f: f %>
    <%= render 'rice', f: f %>

    <%= render 'partials/handlers' %>

  </div>
<% end %>
