<header class="c-analysis-header">
  <div>
    <ul class="list">
      <li class="list-item">
        <span class="title text -summary-small">Country</span>
        <span class="value text -summary-big"><%= @analysis.geo_location.country %></span>
      </li>
      <li class="list-item">
        <span class="title text -summary-small">Region</span>
        <span class="value text -summary-big"><%= @analysis.geo_location.state %></span>
      </li>
    </ul>
    <ul class="list">
      <li class="list-item">
        <span class="title text -summary-small">Crop</span>
        <span class="value text -summary-big"><%= @analysis.crop.capitalize %></span>
      </li>
      <li class="list-item">
        <span class="title text -summary-small">Area</span>
        <span class="value text -summary-big"><%= @analysis.area %> <em>ha</em></span>
      </li>
      <li class="list-item">
        <span class="title text -summary-small">Annual Production</span>
        <span class="value text -summary-big"><%= @analysis.yield %> <em>kg. ha<sup>-1</sup> yr<sup>-1</sup></em></span>
      </li>
    </ul>
  </div>
</header>

<section>
  <div class="c-analysis-total">
    <div class="description text -questions">Your current estimated emission are:</div>
    <div class="total">
      <div class="value-box">
        <span class="value text -figure-extra-big">144</span>
        <span class="info"><svg><use xlink:href="#icon-help"></use></svg></span>
      </div>
    </div>
  </div>

  <div class="c-analysis-graphs">
    <div class="grid">
      <div class="grid-col">
        <div id="chart-1" class="c-graph">
          <div class="title text -summary-big">Emission Sources</div>
          <div class="chart"></div>
        </div>
      </div>
      <!-- <div class="grid-col">
        <div id="chart-2" class="c-graph">
          <div class="title text -summary-big">Carbon Emmisions</div>
          <div class="chart"></div>
        </div>
      </div> -->
    </div>
  </div>

  <div id="analysisActions" class="c-analysis-actions">
    <ul class="c-btn-container -j-center -a-center">
      <li>
        <button type="button" name="button" class="btn -dark -with-icon js-btn-action" data-action="Save:toggle">
          <svg class="icon -medium"><use xlink:href="#icon-save"></use></svg>
          <span>Save</span>
        </button>
      </li>
      <li>
        <button type="button" name="button" class="btn -dark -with-icon js-btn-action" data-action="Print:toggle">
          <svg class="icon -medium"><use xlink:href="#icon-print"></use></svg>
          <span>Print</span>
        </button>
      </li>
      <li>
        <button type="button" name="button" class="btn -dark -with-icon js-btn-action" data-action="Share:toggle">
          <svg class="icon -medium"><use xlink:href="#icon-share"></use></svg>
          <span>Share</span>
        </button>
      </li>
    </ul>
  </div>
</section>

<h1>Analysis</h1>
<% if !@analysis.rice? %>
  <h2>Stable soil carbon content</h2>
  <%= @analysis.stable_soil_carbon_content %>

  <% if @analysis.is_shaded? %>
    <h2>Changes in carbon content</h2>
    <%= @analysis.changes_in_carbon_content %> (t CO2-e)
  <% end %>

  <h2>Emissions from crop residue decomposition</h2>
  <%= @analysis.emissions_from_crop_residue_decomposition %> (t CO2-e)
<% end %>

<h2>Emissions from fertilizer application</h2>
<%= @analysis.emissions_from_fertilizers_application %> (t CO2-e)

<h2>Emissions from <%= !@analysis.rice? ? "crop residue" : "rice straw"%> burning</h2>
<%= @analysis.emissions_from_crop_residue_or_rice_straw_burning %> (t CO2-e)

<% if @analysis.fertilizers.where(addition_type: "urea").any? %>
  <h2>Emissions from urea hydrolysis</h2>
  <%= @analysis.emissions_from_urea_hydrolysis %> (t CO2-e)
<% end %>

<% if @analysis.lime_amount && @analysis.lime_amount > 0.0 %>
  <h2>Emissions from lime use</h2>
  <%= @analysis.emissions_from_lime_use %> (t CO2-e)
<% end %>
<% if @analysis.dolomite_amount && @analysis.dolomite_amount > 0.0 %>
  <h2>Emissions from dolomite use</h2>
  <%= @analysis.emissions_from_dolomite_use %> (t CO2-e)
<% end %>

<% if @analysis.agrochemical_amount && @analysis.agrochemical_amount > 0.0 %>
  <h2>Emissions from agrochemical use</h2>
  <%= @analysis.emissions_from_agrochemical_use %> (t CO2-e)
<% end %>

<h2>Emissions from fossil fuel use</h2>
<%= @analysis.emissions_from_fossil_fuel_use %>

<% if @analysis.rice? %>
  <h2>Emissions from rice cultivation</h2>
  <%= @analysis.emissions_from_rice_cultivation %>
<% end %>
