<%= form_for(@analysis, url: wizard_path, method: :put) do |f| %>
  <div id="wizard">

    <h1>Select Geography</h1>
    <section class="l-slide -slide-1">
      <div class="c-slide-content">
        <%= label_tag :country, "Select your country", class: "text -questions" %>
        <p class="text -description">Start typing or select your country in the map</p>
        <%= select_tag :country,
          options_from_collection_for_select(@geo_locations, :country, :country),
          include_blank: true %>

        <div id="state-selection" class="hidden">
          <%= f.label :geo_location_id, "Select your region", class: "text -questions"%>
          <p class="text -description">Start typing or select your region in the map</p>
          <%= f.select :geo_location_id, [] %>
        </div>

      </div>
    </section>

    <h1>Describe your agricultural activity</h1>
    <section class="l-slide -slide-2">

      <div class="c-slide-content">
        <p class="text -questions">
          Currently, I’m growing
          <%= f.select :crop, select_options(Analysis::CROPS) %>
        </p>
        <p class="text -questions">
          on
          <%= f.text_field :area %>
          hectares
        </p>
        <p class="text -questions">
           and expect a yield of
           <%= f.text_field :yield %>
           <%= f.select :yield_unit, select_options(Analysis::YIELD_UNITS) %>
          <span class="text -form-inputs -medium">yr<sup>-1</sup></span>
        </p>

        <div class="actions">
          <%= f.submit "next" %>
        </div>
      </div>

    </section>

  </div>
<% end %>
