<%= form_for(@analysis, url: wizard_path, method: :put) do |f| %>
  <div id="wizard">
    <h1>Select Geography</h1>
    <section>
      <%= label_tag :country, "Select your country" %>
      Start typing or select your country in the map.<br />
      <%= select_tag :country,
        options_from_collection_for_select(@geo_locations, :country, :country),
        include_blank: true %>

      <div id="state-selection" class="hidden">
        <%= f.label :geo_location_id, "Select your region" %>
        Start typing or select your region in the map.<br />
        <%= f.select :geo_location_id, [] %>
      </div>
    </section>
    <h1>Describe your agricultural activity</h1>
    <section>
      Currently, I’m growing
      <%= f.select :crop,
        options_for_select(Analysis::CROPS.map{|t| [t[:title],t[:slug]]}) %>
      on <%= f.text_field :area %> hectares and expect a yield of
      <%= f.text_field :yield %> kg. ha<sup>-1</sup> yr<sup>-1</sup>.
      <div class="actions">
        <%= f.submit "next" %>
      </div>
    </section>
  </div>
<% end %>
