<%= form_for(@analysis, url: wizard_path, method: :put) do |f| %>
  <div id="wizard">

    <h1>Select Geography</h1>
    <section class="l-slide -slide-1">
      <div class="c-slide-content">
        <%= label_tag :country, "Select your country", class: "text -questions -light" %>
        <p class="text -description -light">Start typing or select your country in the map</p>
        <%= select_tag :country,
          options_from_collection_for_select(@geo_locations, :country, :country),
          include_blank: true %>

        <div id="state-selection" class="hidden">
          <%= f.label :geo_location_id, "Select your region", class: "text -questions -light"%>
          <p class="text -description -light">Start typing or select your region in the map</p>
          <%= f.select :geo_location_id, [] %>
        </div>

      </div>
    </section>

    <h1>Describe your agricultural activity</h1>
    <section class="l-slide -slide-2">

      <div class="c-slide-content">
        <p class="text -questions -light">
          Currently, I’m growing
          <%= f.select :crop, options_for_select(Analysis::CROPS.map{|t| [t[:title],t[:slug]]}) %>
        </p>
        <p class="text -questions -light">
          on
          <%= f.text_field :area %>
        </p>
        <p class="text -questions -light">
          hectares and expect a yield of
          <%= f.text_field :yield %>
          <span class="text -questions -medium">kg. ha<sup>-1</sup> yr<sup>-1</sup></span>
        </p>

        <div class="actions">
          <%= f.submit "next" %>
        </div>
      </div>

    </section>

  </div>
<% end %>
