<%= form_for @analysis, url: wizard_path, method: :put do |f| %>
  <div id="wizard">
    <h1>Tillage</h1>
    <section class="l-slide -slide-3">
      <div class="c-slide-content">
        <p class="text -questions">
          Crop management includes
          <%= f.select:tillage, select_options(Analysis::TILLAGES) %>
        </p>
        <p class="text -questions">
          and the application of
          <%= f.fields_for :fertilizers do |builder| %>
          <%= builder.hidden_field :category, value: Category::FERTILIZER %>
          <%= builder.text_field :amount %>
          <span class="text -form-inputs -medium">kg. ha<sup>-1</sup> yr<sup>-1</sup></span>
          of
          <%= builder.select :addition_type, select_options(Analysis::FERTILIZER_TYPES) %>
          <% end %>
        </p>
        <p class="text -questions">
          <%= f.fields_for :manures do |builder| %>
            <%= builder.hidden_field :category, value: Category::MANURE %>
            and <%= builder.text_field :amount %>
            <span class="text -form-inputs -medium">kg. ha<sup>-1</sup> yr<sup>-1</sup></span>
            of
            <%= builder.select :addition_type, select_options(Analysis::MANURE_TYPES) %>
          <% end %>
        </p>
        <%= link_to "Previous (real)", wizard_path(:basic) %>
        </div>
    </section>

    <h1>Additional crop management</h1>
    <section class="l-slide -slide-4">
      <div class="c-slide-content">
        <p class="text -questions">Additional crop management practices include (check all that apply):</p>
        <% Analysis::CROP_MANAGEMENT_PRACTICES.each do |practice| %>
          <fieldset>
            <label><%= practice[:title] %></label>
            <%= f.check_box :crop_management_practices, { multiple: true },
              practice[:slug], nil %>
          </fieldset>
        <% end %>
      </div>
    </section>

    <h1>Shade trees</h1>
    <section class="l-slide -slide-5">
      <div class="c-slide-content">
        <p class="text -questions">
          The cropland
          <%= f.select:is_shaded, options_for_select([["Does", true], ["Does not", false]]) %>
          currently include shade trees, windbreaks, alley cropping, or any type of
          additional silviculture?
        </p>
      </div>
    </section>

    <%= render 'liming', f: f %>
    <%= render 'agrochemicals', f: f %>

    <h1>Fossil fuels</h1>
    <section class="l-slide -slide-5">
      <div class="c-slide-content">
        <p class="text -questions">
          Each year, we use an estimated
          <%= f.fields_for :fuels do |builder| %>
            <%= builder.hidden_field :category, value: Category::FUEL %>
            <%= builder.text_field :amount %>
            <%= builder.select :unit, select_options(Analysis::FUEL_UNITS) %>
            of
            <%= builder.select :addition_type, select_options(Analysis::FUEL_TYPES) %>
          <% end %>
        </p>
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    </section>
  </div>
<% end %>
