<%= form_for @analysis, url: wizard_path, method: :put do |f| %>
  <div id="wizard">
    <h1>Tillage</h1>
    <section>
      Crop management includes
      <%= f.select:tillage, options_for_select(Analysis::TILLAGES) %>
      and the application of
      <%= f.fields_for :fertilizers do |builder| %>
        <%= builder.hidden_field :category, value: Category::FERTILIZER %>
        <%= builder.text_field :amount %>
        kg. ha<sup>-1</sup> yr<sup>-1</sup> of
        <%= builder.select :addition_type,
          options_for_select(Analysis::FERTILIZER_TYPES) %>
      <% end %>
      <%= f.fields_for :manures do |builder| %>
        <%= builder.hidden_field :category, value: Category::MANURE %>
        and <%= builder.text_field :amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup>
        of
        <%= builder.select :addition_type, options_for_select(Analysis::MANURE_TYPES) %>
      <% end %>
    </section>

    <h1>Additional crop management</h1>
    <section>
      Additional crop management practices include (check all that apply):
      <% Analysis::CROP_MANAGEMENT_PRACTICES.each do |practice| %>
        <label><%= practice %>
        <%= f.check_box :crop_management_practices, { multiple: true },
          practice, nil %>
        </label>
      <% end %>
    </section>

    <h1>Shade trees</h1>
    <section>
      The cropland
      <%= f.select:is_shaded, options_for_select([["Does", true], ["Does not", false]]) %>
      currently include shade trees, windbreaks, alley cropping, or any type of
      additional silviculture?
    </section>

    <h1>Agrochemicals</h1>
    <section>
      We apply
      <%= f.text_field :agrochemical_amount %>
      kg. ha<sup>-1</sup> yr<sup>-1</sup> in agrochemicals including fertilizers,
      pesticides, and herbicides.
    </section>

    <h1>Fossil fuels</h1>
    <section>
      Each year, we use an estimated
      <%= f.fields_for :fuels do |builder| %>
        <%= builder.hidden_field :category, value: Category::FUEL %>
        <%= builder.text_field :amount %>
        <%= builder.select :unit, options_for_select(Analysis::FUEL_UNITS) %>
        of
        <%= builder.select :addition_type, options_for_select(Analysis::FUEL_TYPES) %>.
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </section>
  </div>
<% end %>
