<%= form_for @analysis, url: wizard_path, method: :put do |f| %>
  <div id="wizard">
    <h1>Type of Rice and Irrigiation Regime</h1>
    <section>
      I grow
      <%= f.select :rice_type,
        options_for_select(["paddy",
                            "upland"]) %>
      rice and the irrigation regime can be described as
      <%= f.select :irrigation_regime,
        options_for_select(Analysis::IRRIGATION_REGIMES.map{|t| [t[:title],t[:slug]]}) %>.
    </section>

    <h1>Flooding before cultivation</h1>
    <section>
      Before cultivation starts, cropland is
      <%= f.select :flooding,
        options_for_select(Analysis::FLOODING_PRACTICES.map{|t| [t[:title],t[:slug]]}) %>
      and cultivation takes
      <%= f.text_field :cultivation_time, value: 120 %> days.
    </section>

    <%= render 'liming', f: f %>
    <%= render 'agrochemicals', f: f %>

    <h1>Fertilizer and Nutrient Management</h1>
    <section>
      We apply
      <%= f.fields_for :fertilizers do |builder| %>
        <%= builder.hidden_field :category, value: Category::FERTILIZER %>
        <%= builder.text_field :amount %>
        kg. ha<sup>-1</sup> yr<sup>-1</sup> of
        <%= builder.select :addition_type,
          options_for_select(Analysis::FERTILIZER_TYPES.map{|t| [t[:title],t[:slug]]}) %> and
      <% end %>
      <%= f.fields_for :manures do |builder| %>
        <%= builder.hidden_field :category, value: Category::MANURE %>
        and <%= builder.text_field :amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup>
        of
        <%= builder.select :addition_type, options_for_select(Analysis::MANURE_TYPES.map{|t| [t[:title],t[:slug]]}) %>.
      <% end %>
      Additionally, we incorporate
      <%= f.fields_for :nutrient_managements do |builder| %>
        <%= builder.hidden_field :category, value: Category::NUTRIENT_MANAGEMENT %>
        <%= builder.text_field :amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup> of
        <%= builder.select :addition_type,
          options_for_select(Analysis::RICE_NUTRIENT_MANAGEMENT.map{|t| [t[:title],t[:slug]]}) %>.
      <% end %>
    </section>

    <h1>Fuel and purposes</h1>
    <section>
      Each year, we use an estimated
      <%= f.fields_for :transportation_fuels do |builder| %>
        <%= builder.hidden_field :category, value: Category::TRANSPORTATION_FUEL %>
        <%= builder.text_field :amount %>
        <%= builder.select :unit, options_for_select(Analysis::FUEL_UNITS.map{|t| [t[:title],t[:slug]]}) %>
        <%= builder.select :addition_type,
          options_for_select(Analysis::FUEL_TYPES.map{|t| [t[:title],t[:slug]]}) %> for transportation,
      <% end %>
      <%= f.fields_for :irrigation_fuels do |builder| %>
        <%= builder.hidden_field :category, value: Category::IRRIGATION_FUEL %>
        <%= builder.text_field :amount %>
        <%= builder.select :unit, options_for_select(Analysis::FUEL_UNITS.map{|t| [t[:title],t[:slug]]}) %>
        <%= builder.select :addition_type,
          options_for_select(Analysis::FUEL_TYPES.map{|t| [t[:title],t[:slug]]}) %> for irrigation, and
      <% end %>
      <%= f.fields_for :fuels do |builder| %>
        <%= builder.hidden_field :category, value: Category::FUEL %>
        <%= builder.text_field :amount %>
        <%= builder.select :unit, options_for_select(Analysis::FUEL_UNITS.map{|t| [t[:title],t[:slug]]}) %>
        <%= builder.select :addition_type,
          options_for_select(Analysis::FUEL_TYPES.map{|t| [t[:title],t[:slug]]}) %> for other practices.
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </section>
  </div>
<% end %>
