<!DOCTYPE html>
<html>
  <head>
    <title>Grow Asia Counter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class=<%= "#{params[:controller]}_#{params[:action]}" %> >
    <%= render 'partials/icons' %>
    <%= render 'partials/header' %>
    <%= yield %>
  </body>
  <%= render 'partials/mix_panel_analytics' %>
</html>
