<!DOCTYPE html>
<html>
  <head>
    <title>Grow Asia Counter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <meta name="description" content="The Grow Asia Counter allows users to estimate their greenhouse gas emissions of different agricultural management scenarios." />

     <!-- Twitter Card data -->
     <meta name="twitter:card" value="The Grow Asia Counter allows users to estimate their greenhouse gas emissions of different agricultural management scenarios for cocoa, coffee, tea, corn, rice, potatoes, and vegetables/horticulture.">

     <!-- Open Graph data -->
     <meta property="og:title" content="Grow Asia Counter" />
     <meta property="og:type" content="website" />
     <meta property="og:url" content="http://counter.growasia.org/" />
     <meta property="og:image" content="http://example.com/image.jpg" />
     <meta property="og:description" content="The Grow Asia Counter allows users to estimate their greenhouse gas emissions of different agricultural management scenarios for cocoa, coffee, tea, corn, rice, potatoes, and vegetables/horticulture." />


  </head>

  <body class=<%= "#{params[:controller]}_#{params[:action]}" %> >
    <%= render 'partials/icons' %>
    <%= render 'partials/header' %>
    <%= yield %>
  </body>
  <%= render 'partials/mix_panel_analytics' %>
  <%= render 'partials/analytics' %>
</html>
